<div >
  <div class="dashBoardTitle">DashBoard</div>
  <div class="clear"></div>
  <div class="app-container">
    <div class="individualComp">
    <app-what-went-well></app-what-went-well>
    </div>
    <div class="individualComp">
    <app-what-can-be-improved></app-what-can-be-improved>
    </div>
  </div>
  <div class="clear"></div>
  <div class="app-container"> 
    <div class="individualComp">
      <app-start-doing></app-start-doing>
    </div>
    <div class="individualComp">
      <app-actions></app-actions>
    </div>
  </div>
</div>

