.item {
    display: inline-block;
    overflow-wrap: anywhere;
    border-radius: 5px 5px 12px 5px;
    min-height: 90px;
    width: 130px;
    box-shadow: 2px 2px 6px 2px darkgrey;
    padding: 1px;
    margin: 1px;
    background-color:#fcb35a;
    text-align: center;
}